/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Amaranth:700|Titillium+Web:200,400,700&display=swap" rel="stylesheet');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

/* Components */
@import url("components/container.css");
@import url("components/hero-banner.css");
@import url("components/button.css");
@import url("components/cards.css");
@import url("components/footer.css");

/* Utilities */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  color: #25231F;
}

h1, h2, h3, h4 {
  font-family: 'Amaranth', sans-serif;
}

a {
  text-decoration: none;
}

/* Custom design below! */

.text-align {
  text-align: center;
}
